.stages-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Center the container vertically */
    background-color: #f0f0f0;
  }
  
  .stages-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-container {
    margin-bottom: 15px;
  }
  
  .label {
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
  }
  
  .number-field {
    width: 100px;
    padding: 5px;
    margin-right: 10px;
  }
  
  .create-button {
    padding: 5px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .create-button:hover {
    background-color: #0056b3;
  }
  
  .field-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .field-group .input-container {
    flex: 1;
    min-width: 250px;
    margin-right: 10px;
  }
  
  .input-field {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  textarea.input-field {
    height: 60px;
  }
  
  .submit-button {
    padding: 0.8em 1em;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: #ffffff;
    background-color: #23c483;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    display: inline-block;
    width: 100px;
  }
  
  .submit-button:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(15, 206, 168, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .submit-button:active {
    transform: translateY(-1px);
  }
  /* Responsive styles */
  @media (max-width: 768px) {
    .submit-button {
      padding: 1.2em 1em; /* Increase the padding for more width */
      font-size: 11px; /* Adjust font size for better readability */
    }
  }
  
  @media (max-width: 480px) {
    .submit-button {
      padding: 1.1em 2.5em; 
      font-size: 10px;
      justify-content: center;
      text-align: center;
      width: 90px;
      margin-left: 10px;
      margin-bottom: 10px;
    }
  }
  
  @media (max-width: 320px) {
    .submit-button {
      padding: 1em 2.5em; 
      font-size: 9px; 
    }
  }
   .update-button {
    padding: 0.7em 0.8em;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: #ffffff;
    background-color: #23c483;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    display: inline-block;
    margin-right: 2;
  }
  
  .update-button:hover {
    background-color: #23c483; 
    box-shadow: 0px 15px 20px rgba(17, 165, 135, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .update-button:active {
    transform: translateY(-1px);
  }
  /* Responsive styles */
  @media (max-width: 768px) {
    .update-button {
      padding: 1.2em 1em; /* Increase the padding for more width */
      font-size: 11px; /* Adjust font size for better readability */
      height: 40px;
    }
  }
  
  @media (max-width: 480px) {
    .update-button {
      padding: 1.1em 2.5em; /* Increase the padding for more width */
      font-size: 10px; /* Adjust font size for better readability */
      height: 40px;
    }
  }
  
  @media (max-width: 320px) {
    .update-button {
      padding: 1em 2.5em; /* Increase the padding for more width */
      font-size: 9px; /* Adjust font size for better readability */
      height: 40px;
    }
  }
  
  /* new add */
  
  .cancelupdate-button {
    padding: 0.7em 0.8em;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: #ffffff;
    background-color: #fa594d;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    display: inline-block;
    margin-right: 2;
    width: 100px;
  }
  
  .cancelupdate-button:hover {
    /* background-color: #2376c4; */
    background-color: #fa594d;
        box-shadow: 0px 15px 20px rgba(194, 109, 109, 0.4);
        transform: translateY(-7px);
  }
  
  .cancelupdate-button:active {
    transform: translateY(-1px);
  }
  /* Responsive styles */
  @media (max-width: 768px) {
    .cancelupdate-button {
      padding: 1.2em 1em; /* Increase the padding for more width */
      font-size: 10px; /* Adjust font size for better readability */

    }
  }
  
  @media (max-width: 480px) {
    .cancelupdate-button {
      padding: 1.1em 1em; 
      font-size: 10px;
      justify-content: center;
      text-align: center;
      width: 90px;
      margin-left: 10px;
      margin-bottom: 10px;
    }
  }
  
  @media (max-width: 320px) {
    .cancelupdate-button {
      padding: 1em 2.5em; /* Increase the padding for more width */
      font-size: 9px; /* Adjust font size for better readability */
    }
  }
  