.checkbox-wrapper-8 {
    position: absolute;
    top: 25px;
    right: 10px; /* Adjust as needed */
    transform: translateY(-50%);
  }
  
  .checkbox-wrapper-8 .tgl {
    display: none;
  }
  
  .checkbox-wrapper-8 .tgl,
  .checkbox-wrapper-8 .tgl:after,
  .checkbox-wrapper-8 .tgl:before,
  .checkbox-wrapper-8 .tgl *,
  .checkbox-wrapper-8 .tgl *:after,
  .checkbox-wrapper-8 .tgl *:before,
  .checkbox-wrapper-8 .tgl + .tgl-btn {
    box-sizing: border-box;
  }
  
  .checkbox-wrapper-8 .tgl::-moz-selection,
  .checkbox-wrapper-8 .tgl:after::-moz-selection,
  .checkbox-wrapper-8 .tgl:before::-moz-selection,
  .checkbox-wrapper-8 .tgl *::-moz-selection,
  .checkbox-wrapper-8 .tgl *:after::-moz-selection,
  .checkbox-wrapper-8 .tgl *:before::-moz-selection,
  .checkbox-wrapper-8 .tgl + .tgl-btn::-moz-selection,
  .checkbox-wrapper-8 .tgl::selection,
  .checkbox-wrapper-8 .tgl:after::selection,
  .checkbox-wrapper-8 .tgl:before::selection,
  .checkbox-wrapper-8 .tgl *::selection,
  .checkbox-wrapper-8 .tgl *:after::selection,
  .checkbox-wrapper-8 .tgl *:before::selection,
  .checkbox-wrapper-8 .tgl + .tgl-btn::selection {
    background: none;
  }
  
  .checkbox-wrapper-8 .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 5em;
    height: 1.5em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .checkbox-wrapper-8 .tgl + .tgl-btn:after,
  .checkbox-wrapper-8 .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
  }
  
  .checkbox-wrapper-8 .tgl + .tgl-btn:after {
    left: 0;
  }
  
  .checkbox-wrapper-8 .tgl + .tgl-btn:before {
    display: none;
  }
  
  .checkbox-wrapper-8 .tgl:checked + .tgl-btn:after {
    left: 50%;
  }
  
  .checkbox-wrapper-8 .tgl-skewed + .tgl-btn {
    overflow: hidden;
    transform: skew(-10deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.2s ease;
    font-family: sans-serif;
    background: #248933;
  }
  
  .checkbox-wrapper-8 .tgl-skewed + .tgl-btn:after,
  .checkbox-wrapper-8 .tgl-skewed + .tgl-btn:before {
    transform: skew(10deg);
    display: inline-block;
    transition: all 0.2s ease;
    width: 100%;
    text-align: center;
    position: absolute;
    line-height: 2em;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  }
  
  .checkbox-wrapper-8 .tgl-skewed + .tgl-btn:after {
    left: 100%;
    content: attr(data-tg-on);
  }
  
  .checkbox-wrapper-8 .tgl-skewed + .tgl-btn:before {
    left: 0;
    content: attr(data-tg-off);
  }
  
  .checkbox-wrapper-8 .tgl-skewed + .tgl-btn:active {
    background: #248933;
  }
  
  .checkbox-wrapper-8 .tgl-skewed + .tgl-btn:active:before {
    left: -10%;
  }
  
  .checkbox-wrapper-8 .tgl-skewed:checked + .tgl-btn {
    background: #e92222;
  }
  
  .checkbox-wrapper-8 .tgl-skewed:checked + .tgl-btn:before {
    left: -100%;
  }
  
  .checkbox-wrapper-8 .tgl-skewed:checked + .tgl-btn:after {
    left: 0;
  }
  
  .checkbox-wrapper-8 .tgl-skewed:checked + .tgl-btn:active:after {
    left: 10%;
  }
  

  .Clear-button {
    padding: 0.7em 1.6em;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: #ffffff;
    background-color: #5a5cdf;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    display: inline-block;
    margin-left: 1%;
  }
  
  .Clear-button:hover {
    /* background-color: #2376c4; */
    box-shadow: 0px 15px 20px rgba(213, 234, 249, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .Clear-button:active {
    transform: translateY(-1px);
  }
  /* Responsive styles */
  @media (max-width: 768px) {
    .Clear-button {
      padding: 1.2em 3.5em; /* Increase the padding for more width */
      font-size: 11px; /* Adjust font size for better readability */
      height: 40px;
    }
  }
  
  @media (max-width: 480px) {
    .Clear-button {
      padding: 1.1em 2.5em; /* Increase the padding for more width */
      font-size: 10px; /* Adjust font size for better readability */
      height: 40px;
      margin-right: 2%;
    }
  }
  
  @media (max-width: 320px) {
    .Clear-button {
      padding: 1em 2.5em; /* Increase the padding for more width */
      font-size: 9px; /* Adjust font size for better readability */
      height: 40px;
    }
  }

  .Add-button {
    padding: 0.7em 2.3em;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: #ffffff;
    background-color: #23c483;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    display: inline-block;
    margin-left: 2%;
  }
  
  .Add-button:hover {
    /* background-color: #2376c4; */
    box-shadow: 0px 15px 20px rgba(213, 231, 243, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .Add-button:active {
    transform: translateY(-1px);
  }
  /* Responsive styles */
  @media (max-width: 768px) {
    .Add-button {
      padding: 1.2em 3.5em; /* Increase the padding for more width */
      font-size: 11px; /* Adjust font size for better readability */
      height: 40px;
    }
  }
  
  @media (max-width: 480px) {
    .Add-button {
      padding: 1.1em 3em; /* Increase the padding for more width */
      font-size: 10px; /* Adjust font size for better readability */
      height: 40px;
    }
  }
  
  @media (max-width: 320px) {
    .Add-button {
      padding: 1em 2.5em; /* Increase the padding for more width */
      font-size: 9px; /* Adjust font size for better readability */
      height: 40px;
    }
  }

  .Update-button {
    padding: 0.7em 1.6em;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: #ffffff;
    background-color: #23c483;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    display: inline-block;
    margin-left: 1%;
  }
  
  .Update-button:hover {
    /* background-color: #2376c4; */
    box-shadow: 0px 15px 20px rgba(212, 234, 250, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .Update-button:active {
    transform: translateY(-1px);
  }
  /* Responsive styles */
  @media (max-width: 768px) {
    .Update-button {
      padding: 1.2em 3.5em; /* Increase the padding for more width */
      font-size: 11px; /* Adjust font size for better readability */
      height: 40px;
    }
  }
  
  @media (max-width: 480px) {
    .Update-button {
      padding: 1.1em 2.5em; /* Increase the padding for more width */
      font-size: 10px; /* Adjust font size for better readability */
      height: 40px;
    }
  }
  
  @media (max-width: 320px) {
    .Update-button {
      padding: 1em 2.5em; /* Increase the padding for more width */
      font-size: 9px; /* Adjust font size for better readability */
      height: 40px;
    }
  }

  .Delete-button {
    padding: 0.7em 1.6em;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: #ffffff;
    background-color: #d98880;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    display: inline-block;
    margin-left: 1%;
  }
  
  .Delete-button:hover {
    /* background-color: #2376c4; */
    box-shadow: 0px 15px 20px rgba(213, 232, 245, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .Delete-button:active {
    transform: translateY(-1px);
  }
  /* Responsive styles */
  @media (max-width: 768px) {
    .Delete-button {
      padding: 1.2em 3.5em; /* Increase the padding for more width */
      font-size: 11px; /* Adjust font size for better readability */
      height: 40px;
    }
  }
  
  @media (max-width: 480px) {
    .Delete-button {
      padding: 1.1em 2.5em; /* Increase the padding for more width */
      font-size: 10px; /* Adjust font size for better readability */
      height: 40px;
      margin-right: 2%;
    }
  }
  
  @media (max-width: 320px) {
    .Delete-button {
      padding: 1em 2.5em; /* Increase the padding for more width */
      font-size: 9px; /* Adjust font size for better readability */
      height: 40px;
    }
  }