@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}


.nav-item {
  transform: translateX(calc(var(--translate-value)));
}

@media (max-width: 320px) {
  .nav-item {
    --translate-value: calc(
      ${activeIndex === 0 ? '-10px' : activeIndex === 1 ? '30px' : activeIndex === 2 ? '10px' : activeIndex === 3 ? '94px' : '300px'}
    );
  }
}

@media (min-width: 321px) and (max-width: 425px) {
  .nav-item {
    --translate-value: calc(
      ${activeIndex === 0 ? '-10px' : activeIndex === 1 ? '-10px' : activeIndex === 2 ? '20px' : activeIndex === 3 ? '80px' : '0px'}
    );
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .nav-item {
    --translate-value: calc(
      ${activeIndex === 0 ? '-170px' : activeIndex === 1 ? '-90px' : activeIndex === 2 ? '10px' : activeIndex === 3 ? '110px' : '300px'}
    );
  }
}

@media (min-width: 769px) {
  .nav-item {
    --translate-value: calc(
      ${activeIndex === 0 ? '-202px' : activeIndex === 1 ? '-95px' : activeIndex === 2 ? '15px' : activeIndex === 3 ? '128px' : '300px'}
    );
  }
}



/* Include this in your CSS file */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.add-button {
  padding: 0.7em 1.6em;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  color: #ffffff;
  background-color: #5a5cdf;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  display: inline-block;
  margin-right: 2;
}

.add-button:hover {
  /* background-color: #2376c4; */
  box-shadow: 0px 15px 20px rgba(133, 130, 211, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.add-button:active {
  transform: translateY(-1px);
}
/* Responsive styles */
@media (max-width: 768px) {
  .add-button {
    padding: 1.2em 3.5em; /* Increase the padding for more width */
    font-size: 11px; /* Adjust font size for better readability */
    height: 40px;
  }
}

@media (max-width: 480px) {
  .add-button {
    padding: 1.1em 2.5em; /* Increase the padding for more width */
    font-size: 10px; /* Adjust font size for better readability */
    height: 40px;
  }
}

@media (max-width: 320px) {
  .add-button {
    padding: 1em 2.5em; /* Increase the padding for more width */
    font-size: 9px; /* Adjust font size for better readability */
    height: 40px;
  }
}