@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}


.nav-item {
  transform: translateX(calc(var(--translate-value)));
}

@media (max-width: 320px) {
  .nav-item {
    --translate-value: calc(
      ${activeIndex === 0 ? '-10px' : activeIndex === 1 ? '30px' : activeIndex === 2 ? '10px' : activeIndex === 3 ? '94px' : '300px'}
    );
  }
}

@media (min-width: 321px) and (max-width: 425px) {
  .nav-item {
    --translate-value: calc(
      ${activeIndex === 0 ? '-10px' : activeIndex === 1 ? '-10px' : activeIndex === 2 ? '20px' : activeIndex === 3 ? '80px' : '0px'}
    );
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .nav-item {
    --translate-value: calc(
      ${activeIndex === 0 ? '-170px' : activeIndex === 1 ? '-90px' : activeIndex === 2 ? '10px' : activeIndex === 3 ? '110px' : '300px'}
    );
  }
}

@media (min-width: 769px) {
  .nav-item {
    --translate-value: calc(
      ${activeIndex === 0 ? '-202px' : activeIndex === 1 ? '-95px' : activeIndex === 2 ? '15px' : activeIndex === 3 ? '128px' : '300px'}
    );
  }
}

/* Loader */ 
.ld-ripple {
  position: relative;
  width: 100px;
  height: 100px;
}

.ld-ripple div {
  position: absolute;
  border: 4px solid #00adfd;
  opacity: 1;
  border-radius: 50%;
  animation: ld-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.ld-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes ld-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.fade-text {
  position: relative;
  height: 24px;
  overflow: hidden;
}

.fade-text span {
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.fade-text span.active {
  opacity: 1;
  transform: translateY(0);
}

.fade-text span.inactive {
  opacity: 0;
  transform: translateY(-20px);
}

/* Include this in your CSS file */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');