@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}


.nav-item {
  transform: translateX(calc(var(--translate-value)));
}

@media (max-width: 320px) {
  .nav-item {
    --translate-value: calc(
      ${activeIndex === 0 ? '-10px' : activeIndex === 1 ? '30px' : activeIndex === 2 ? '10px' : activeIndex === 3 ? '94px' : '300px'}
    );
  }
}

@media (min-width: 321px) and (max-width: 425px) {
  .nav-item {
    --translate-value: calc(
      ${activeIndex === 0 ? '-10px' : activeIndex === 1 ? '-10px' : activeIndex === 2 ? '20px' : activeIndex === 3 ? '80px' : '0px'}
    );
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .nav-item {
    --translate-value: calc(
      ${activeIndex === 0 ? '-170px' : activeIndex === 1 ? '-90px' : activeIndex === 2 ? '10px' : activeIndex === 3 ? '110px' : '300px'}
    );
  }
}

@media (min-width: 769px) {
  .nav-item {
    --translate-value: calc(
      ${activeIndex === 0 ? '-202px' : activeIndex === 1 ? '-95px' : activeIndex === 2 ? '15px' : activeIndex === 3 ? '128px' : '300px'}
    );
  }
}

/* Loader */ 
.ld-ripple {
  position: relative;
  width: 100px;
  height: 100px;
}

.ld-ripple div {
  position: absolute;
  border: 4px solid #00adfd;
  opacity: 1;
  border-radius: 50%;
  animation: ld-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.ld-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes ld-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}



/* Include this in your CSS file */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.add-button {
  padding: 0.7em 1.6em;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  color: #ffffff;
  background-color: #23c483;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  display: inline-block;
}

.add-button:hover {
  /* background-color: #2376c4; */
  box-shadow: 0px 15px 20px rgba(17, 165, 135, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.add-button:active {
  transform: translateY(-1px);
}
/* Responsive styles */
@media (max-width: 768px) {
  .add-button {
    padding: 1.2em 3.5em; /* Increase the padding for more width */
    font-size: 11px; /* Adjust font size for better readability */
    height: 40px;
  }
}

@media (max-width: 480px) {
  .add-button {
    padding: 1.1em 2.5em; /* Increase the padding for more width */
    font-size: 10px; /* Adjust font size for better readability */
    height: 40px;
  }
}

@media (max-width: 320px) {
  .add-button {
    padding: 1em 2.5em; /* Increase the padding for more width */
    font-size: 9px; /* Adjust font size for better readability */
    height: 40px;
  }
}

.Update-button {
  padding: 0.7em 1.6em;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  color: #ffffff;
  background-color: #5160e8;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  display: inline-block;
}

.Update-button:hover {
  /* background-color: #2376c4; */
box-shadow: 0px 15px 20px rgba(120, 122, 253, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.Update-button:active {
  transform: translateY(-1px);
}
/* Responsive styles */
@media (max-width: 768px) {
  .Update-button {
    padding: 1.2em 3.5em; /* Increase the padding for more width */
    font-size: 11px; /* Adjust font size for better readability */
    height: 40px;
  }
}

@media (max-width: 480px) {
  .Update-button {
    padding: 1.1em 2.5em; /* Increase the padding for more width */
    font-size: 10px; /* Adjust font size for better readability */
    height: 40px;
  }
}

@media (max-width: 320px) {
  .Update-button {
    padding: 1em 2.5em; /* Increase the padding for more width */
    font-size: 9px; /* Adjust font size for better readability */
    height: 40px;
  }
}

.remove-button {
  padding: 0.7em 1.6em;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  color: #ffffff;
  background-color:  #fa594d;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  display: inline-block;
}

.remove-button:hover {
  /* background-color: #2376c4; */
  background-color: #fa594d;
  box-shadow: 0px 15px 20px rgba(194, 109, 109, 0.4);
  transform: translateY(-7px);
}

.remove-button:active {
  transform: translateY(-1px);
}
/* Responsive styles */
@media (max-width: 768px) {
  .remove-button {
    padding: 1.2em 3.5em; /* Increase the padding for more width */
    font-size: 11px; /* Adjust font size for better readability */
    height: 40px;
  }
}

@media (max-width: 480px) {
  .remove-button {
    padding: 1.1em 2.5em; /* Increase the padding for more width */
    font-size: 10px; /* Adjust font size for better readability */
    height: 40px;
  }
}

@media (max-width: 320px) {
  .remove-button {
    padding: 1em 2.5em; /* Increase the padding for more width */
    font-size: 9px; /* Adjust font size for better readability */
    height: 40px;
  }
}